span.error {
    color: red;
}

p.pr-name{
    text-align: center;
    font-size: large;

}

.comm-option-update{
    font-size: x-small;
    color: #cc8b00;
    float: right;
}
.comm-option-delete{
    font-size: x-small;
    color: #63080a;
    margin-left: 10px;
    margin-right: 10px;
    float: right;
}

.update-comment-button-close {
    margin-left: 10px;
}