span.error {
    color: red;
}

p.pr-name{
    text-align: center;
    font-size: large;

}

.comm-option-update{
    font-size: x-small;
    color: #cc8b00;
    float: right;
}
.comm-option-delete{
    font-size: x-small;
    color: #63080a;
    margin-left: 10px;
    margin-right: 10px;
    float: right;
}

.update-comment-button-close {
    margin-left: 10px;
}

div.vertical-line{
    width: 1px; /* Line width */
    background-color: black; /* Line color */
    height: 100%; /* Override in-line if you want specific height. */
    float: left; /* Causes the line to float to left of content.
        You can instead use position:absolute or display:inline-block
        if this fits better with your design */
}
